
<div class="panel panel-default" style="width:50%;margin-left:25%;margin-top:15%;">
  <div class="panel-heading text-center">
    <h4>Inicio de sesión</h4>
  </div>
  <div class="panel-body">
  
    <% if flash[:error] %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
  
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="main-content" class="col-xs-12">
          <%= form_tag sessions_path do |form| %>
            <form accept-charset="UTF-8">
              <div class="form-group">
                <label for="user_email">Email</label>
                <input class="form-control" id="user_email" name="email" type="email">
              </div>
              <div class="form-group">
                <label for="user_password">Password</label>
                <input class="form-control" id="user_password" name="password" type="password">
              </div>
              <div class="btn-group">
                <%= submit_tag 'Iniciar sesión', :class => "btn btn-success" %>
              </div>
            </form>
          <% end %>
        </div>
      <div>
    <div>
  </div>
</div>