<div class="col-sm-6 col-sm-offset-3" style="margin-top:15%;">
<% if current_user %>

<% else %>  
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h4>Bienvenido!</h4>
    </div>
    <div class="panel-body text-center">
      <div id="main-container" class="container-fluid">
        <div class="row">
          <div class="btn-group"> 
            <%= link_to 'Iniciar sesión', login_path, :class => "btn btn-success" %>
          </div>
        <div>
      <div>
    </div>
  </div>
<% end %>