<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="main-container" class="container-fluid">
    <div class="row">
      <div id="main-content" class="col-xs-6">
        <form accept-charset="UTF-8" action="/product" class="new_product" id="new_product" method="post">
          <div class="form-group">
            <label for="product_name">Nombre</label>
            <input class="form-control" id="product_name" name="product[name]" value=<%= @product.name %>>
          </div>
          <div class="form-group">
            <label for="product_reference">Código de barras</label>
            <input class="form-control" id="product_reference" name="product[reference]" value=<%= product.reference %>>
          </div>
          <div class="form-group">
            <label for="product_description">Descripción</label>
            <textarea class="form-control" id="product_description" name="product[description]" ><%= @product.description %></textarea>
          </div>
          <div class="form-group">
            <label for="product_price">Precio</label>
            <input class="form-control" id="product_price" name="product[price]" value=<%= @product.price %>>
          </div>
          <div class="btn-group">
            <% if @product.id %>
              <input class="btn btn-success" name="commit" type="submit" value="Guardar">
            <% else %>
              <input class="btn btn-success" name="commit" type="submit" value="Crear">
            <% end %>
            <%= link_to 'Cancelar', products_path, :class => "btn btn-default" %>
          </div>
        </form>
      <div>
    <div>
  <div>
<% end %>
