<p id="notice"><%= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><%= link_to 'Inicio' %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to 'Productos', products_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Listado</li>
  </ol>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Codigo de barras</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr scope="row">
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.reference %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Ver', product, :class => "btn btn-default" %>
            <%= link_to 'Editar', edit_product_path(product), :class => "btn btn-default" %>
            <%= link_to 'Borrar', product, method: :delete, data: { confirm: 'Estas seguro que queres borrar este producto?' }, :class => "btn btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="btn-group">
  <%= link_to 'Crear producto', new_product_path, :class => "btn btn-default" %>
</div>
<br>
