<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><%= link_to 'Inicio' %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to 'Productos', products_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Nuveo producto</li>
  </ol>
</nav>
<%= render 'form', product: @product %>


