<% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><%= link_to 'Inicio' %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to 'Productos', products_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
  </ol>
</nav>
<p id="notice"><%= notice %></p>
<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="main-content" class="col-xs-6">
      <form accept-charset="UTF-8" action="/product" class="new_product" id="new_product">
        <div class="form-group">
          <label for="product_name">Nombre</label>
          <input class="form-control" id="product_name" name="product[name]" value=<%= @product.name %> disabled>
        </div>
        <div class="form-group">
          <label for="product_reference">Código de barras</label>
          <input class="form-control" id="product_reference" name="product[reference]" value=<%= @product.reference %> disabled>
        </div>
        <div class="form-group">
          <label for="product_description">Descripción</label>
          <textarea class="form-control" id="product_description" name="product[description]" disabled><%= @product.description %></textarea>
        </div>
        <div class="form-group">
          <label for="product_price">Precio</label>
          <input class="form-control" id="product_price" name="product[price]" value=<%= @product.price %> disabled>
        </div>
        <div class="btn-group">
          <%= link_to 'Editar', edit_product_path(@product), :class => "btn btn-default" %>
          <%= link_to 'Atras', products_path, :class => "btn btn-default" %>
        </div>
      </form>
    </div>
  </div>
</div>
