<p id="notice"><%= notice %></p>

<h1>Ventas</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Descripción</th>
      <th scope="col">Total</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr scope="row">
        <td><%= sale.description %></td>
        <td><%= sale.total_price %></td>
        <td><%= link_to 'Ver', sale %></td>
        <td><%= link_to 'Editar', edit_sale_path(sale) %></td>
        <td><%= link_to 'Borrar', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva venta', new_sale_path %>
