<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @sale.description %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total_price %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
