<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Inicio</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Lista de productos', products_path %></li>
            <li><%= link_to 'Crear producto', new_product_path %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Importar productos</a></li>
         </ul>
       </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ventas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Lista de ventas', sales_path %></li>
            <li><%= link_to 'Crear venta', new_sale_path %></li>
         </ul>
       </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to 'Cerrar sesión', logout_path %></li>
      <% end %>
    </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>