
<!DOCTYPE html>
<html>
  <head>
    <title>Hardware Store</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% if current_user %>
      <%= render "layouts/header" %>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>